canvas{
    display: block;
    border:  1px solid black;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    cursor: crosshair;
    position: absolute;
}

.predicateItem {
    cursor: pointer;
}

.selected {
    background-color: lightseagreen;
}

#interactiveCanvas {
    z-index: 5;
}

#predicateManager {
    height: 600px;
    float: left;
    padding-right: 50px;
}

#canvasWrapper {
    height: 500px;
}

.queryTextBoxes {
    height: 200px;
}

#querySelectOptions {
    padding-right: 50px;
    float: left;
}