canvas{
    display: block;
    border:  1px solid black;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;

    cursor: crosshair;
}

canvas {
    position: absolute;
}

.predicateItem {
    cursor: pointer;
}

.selected {
    background-color: lightseagreen;
}

#interactiveCanvas {
    z-index: 5;
}

#predicateManager {
    padding-left: 690px;
    float: left;
}